/*media-queries*/
$breakpoints: (
    mobile: 768px
);
$largescreens: (
    tablet: 1024px
);
$x-large: (
    laptop: 1680px
);

/*imported-files*/
@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/animation";
@import "./utils/footer";
@import "./utils/loading";
@import "./utils/menupages";

/*General-selector*/
* {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*start-heading-style*/
.header-logo {
    @include nav-center;
    img {
        height: 30px;
    }
}
/*end-heading-style*/

/*nav-start*/
.nav-view {
    background-color: $base-color;
    display: flex;  
    flex-direction: column;
    align-items: center;
    &__location {
        width: 97.5%;
        position: absolute;
        align-items: center;
        justify-content: center;
        i {
            margin-right: -50px;
        }
    }
    &__info {
        margin-top: 60px;
    }
    &__explore {
        border-radius: 50px;
        background-color: $secondary-color; 
        background: linear-gradient(to top, lighten($primary-color, 3%), lighten($secondary-color, 5%));        
        box-shadow: 0px 10px 10px 0px darken($base-color, 10%); 
        color: white; 
        @include nav-center;
        width: auto;
        margin-bottom: 60px;
        margin-left: 0px;
        height: 65px;
        transition: all 400ms ease-in-out;
        transition-property: transform;
        animation: fadeIn;
        animation-duration: 400ms;
        &:hover {
            transform: scale(1.10);
        }
    }
    @include mobile-only{
        @include nav-center;
        flex-direction: column;
        height: auto;
    }
    &__location {
        background: linear-gradient(darken($base-color, 10%), darken($base-color, 5%));
        background-color: darken($base-color, 10%);
        margin: 0px;
        position: relative;
        width: 100%;
        @include nav-center;
        font-weight: 500;
        i {
            margin-right: 0px;
        }
        >.placeholder {
            width: 30%;
            @include nav-center;
        }
    }
    &__heading {
        background-color: $base-color;
        @include nav-center;
        font-weight: 700;
        font-size: 30px;
        margin-top: 30px;
    }
    &__info {
        @include nav-center;
        align-items: center;
        font-weight: 300;
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

}
/*nav-end*/

/*column-start*/
.col-1 {
    display: flex;
    flex-direction: column;
    @include mintablet {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
    }
    @include mobile-only{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &__heading {
        font-weight: 600;
        font-size: 25px;
    }
    &__card {
        background-color: $base-color;
        box-shadow: 0px 10px 10px 0px darken($base-color, 5%);
        border-radius: 15px; 
        font-weight: 500;
        margin: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: all 0.4s ease-in-out;
        animation: fadeIn;
        animation-duration: 5s; 
        width: 50%;
        justify-content: center;
        align-items: center;
        align-self: center; 
        >.anchor {
            @include nav-center;
            background-color: $primary-color;
            color: $base-color;
            border-radius: 50%;
            padding: 5px;
            width: 4%;
            margin-right: 30px;
        }
        .placeholder {
            padding: 5px;
            }
        }
        >:nth-child(2) {
            margin-right: auto;
        }
        >:nth-child(4) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
        }
        @include mobile-only {    
            display: flex;
            flex-direction: column;
            padding: 15px;
            &__card {
                width: 100%;
                display: flex;
                flex-direction: center;
                justify-content: center;
                margin-left: 0px;
                margin-right: 0px;
                align-items: center;
                >:nth-child(3) {
                    margin-right: auto;
                    margin-top: 15px;
                    margin-bottom: 15px;  
                }
                >.anchor {
                    margin-left: -10px;
                }
                i {
                    margin-right: 30px;
                    @include nav-center;
                    color: darken($base-color, 50%);
                    transition: all 0.7s ease-in-out;
                }
                >.placeholder {
                @include nav-center;
                }
            }
        }
}
/*column-end*/

/*body-start*/
.body {
    background-color: $base-color;
    grid-template-columns: 1fr 1fr;
    @include mintablet {
        display: flex;
        flex-direction: column;
    }
    @include mobile-only{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        height: auto;
    }
    >.heading {
        margin-left: 20px;
        font-size: 25px;
        @include mintablet {
            width: 100%;
        }

    }
}
/*card-styles-start*/
.proj-grid {
    @include largescreens{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }
    .card-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        .card-image {
            width: auto;
        }
        img {
            margin: 0px;
        } 
        >.heading {
            margin-left: 20px;
        }
    }
    @include mobile-only{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .card-box {
        box-shadow: 0px 10px 10px 0px darken($base-color, 25%); 
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 25px;
        background-color: $base-color;
        animation: fadeIn;
        animation-duration: 5s;
        transition: all 0.4s ease-in-out;
        .card-image {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        img {
            border-radius: 20px 20px 0px 0px;
            margin: auto;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        >.heading {
            color: black;
            display: flex;
            flex-direction: row;
            transition: all 0.4s ease-in-out;
        }
        .like-btn {
            border: 1px solid black;
            margin-left: auto;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            margin-top: 28px;
            font-size: 30px;
            margin-right: 50px;
        }
        .full__heart {
            color: linear-gradient(to top, lighten($primary-color, 3%), lighten($secondary-color, 5%));;
            position: absolute;
            &:hover {
                display: flex;
                position: absolute;
                background-color: linear-gradient(to top, lighten($primary-color, 3%), lighten($secondary-color, 5%));
                animation: loading-2;
                animation-duration: 5s;
                transition: all 0.4s ease-in-out;
            }
        }
        i {
            font-size: 100px;
        }   
    }
        &:nth-child(2) {
            display: flex;
            img {
                border: 1px solid black;
                height: 250px;
                max-width: 100%;
                object-fit: cover;
                transition: all 0.4s ease-in-out;
            }
        }
}
/*card-styles-end*/

/*page-two-styles*/
