/*header*/
.header-image {
    display: flex;
    flex-direction: column;
    height: auto;
    img {
        z-index: -1;
        object-fit: cover;
        border: 1px solid black;
        max-width: auto;
        max-height: 350px;
        border: 10px;
    }
}

/*menu*/
.menu {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: $base-color;
    border-radius: 20px 20px 0px 0px;
    .menu-logo {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    h3 {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
    }
    i {
        margin-left: auto;
        font-size: 25px;
    }
}
.menuItems {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 100%;
        h4 {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-color: lighten(#0fd687, 35%);
    }
}
.menu_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px darken($base-color, 15%);
    width: auto;
    .menuItems__description {
        border: 1px solid black;
        margin-right: auto;
        h4 {
            text-decoration: none;
        }
    }
    .menuItems__confirmation {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .price {
        display: flex;
        border: 1px solid black;
        @include nav-center;
        align-items: flex-end;
        p {
            font-weight: 600;
        }
    }
    .tick {
        display: none;
    }
    :hover {
        .price {
            display: flex;
        }
        .tick {
            @include nav-center;
            background-color: $tertiary-color;
            border-radius: 0px 10px 10px 0px;
            position: relative;
            transform-origin: right;
            transition-duration: 500ms;
        }
        i {
            color: white;
        }
    }
}
.menu-order {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    background: linear-gradient(to top, darken($primary-color, 5%), lighten($secondary-color, 5%));
    @include mobile-only{   
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        border-radius: 30px;
    }
}