/*header*/
.header-image {
    display: flex;
    flex-direction: column;
    height: auto;
    img {
        z-index: -1;
        object-fit: cover;
        border: 1px solid black;
        max-width: auto;
        max-height: 350px;
        border: 10px;
    }
}

/*menu*/
.menu {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $base-color;
    border-radius: 20px 20px 0px 0px;
    .menu-logo {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    h3 {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
    }
    i {
        margin-left: auto;
        font-size: 25px;
    }
}
.menuItems {
        width: 100%;
        h4 {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-color: lighten(#0fd687, 35%);
    }
}
.menu_box {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px darken($base-color, 15%);
    width: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    &:hover {
        cursor: pointer;
        .price {
            display: flex;
            flex-direction: row;
        }
        .tick {
            @include nav-center;
            background-color: $tertiary-color;
            border-radius: 0px 10px 10px 0px;
            transform-origin: right;
            transition-duration: 500ms;
            max-width: 100%;
            width: 25%;
            i {
                display: flex;
                flex-direction: row;
                margin-left: 0rem;
                color: white;
                animation: itemAppear .6s;
                transition-timing-function: cubic-bezier(.5,1.58,.34,.82);
                transition-duration: 1s;
            }
        }
    }
    .menuItems__description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid black;
        width: 100%;
        padding: 7px;
        >.title {
            text-decoration: none;
            border: 1px solid black;
        }
        >.subtitle {
            border: 1px solid black;
        }
    }
    .price {
        display: flex;
        @include nav-center;
        align-items: flex-end;
        width: 15%;
        span {
            font-weight: 600;
        }
    }
    .tick {
        display: none;
    }
}
.menu-order {
    border-radius: 50px;
    background-color: $primary-color;
    color: white;
    background: linear-gradient(to top, darken($primary-color, 5%), lighten($secondary-color, 5%));
    p {
        padding: 10px;
    }
}