@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin mintablet {
    @media screen and (max-width: map-get($largescreens, tablet)){
        @content;
    }    
}
@mixin largescreens {
    @media screen and (max-width: map-get($x-large, laptop)){
        @content;
    }
}

@mixin nav-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
